<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <remote_servers>
    <cluster_1>
{% for shard_name, replicas in clickhouse_shards.items() %}
      <shard>
{% for replica in replicas %}
        <replica>
          <host>{{ replica['host'] }}</host>
          <port>{{ replica['port'] | default(9000) }}</port>
        </replica>
{% endfor %}
      </shard>
{% endfor %}
    </cluster_1>
  </remote_servers>
</yandex>
